In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
data = pd.read_csv("food_access_research_atlas.csv" )

In [ ]:
data.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [ ]:
data.describe()

,CensusTract,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
count,7.286400e+04,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,...,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000
mean,2.783045e+10,0.757191,4237.285052,1601.837560,0.007082,109.619606,0.026961,0.126880,0.282115,0.111235,...,552.645806,3068.089386,534.273702,201.392347,7.411246,40.242754,385.875618,692.764520,145.356239,207.022206
std,1.581256e+10,0.428783,1972.520112,732.106217,0.083855,442.922669,0.095494,0.332841,0.450032,0.314425,...,352.988078,1804.353298,887.806852,435.085612,45.084789,181.024758,528.776237,1117.876349,230.201932,187.188807
min,1.001020e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.212708e+10,1.000000,2883.750000,1102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,318.000000,1832.000000,42.000000,17.000000,0.000000,7.000000,83.000000,87.000000,37.000000,69.000000
50%,2.712979e+10,1.000000,4002.000000,1521.000000,0.000000,7.000000,0.001779,0.000000,0.000000,0.000000,...,495.000000,2903.000000,158.000000,57.000000,1.000000,15.000000,184.000000,240.000000,84.000000,158.000000
75%,4.103900e+10,1.000000,5323.000000,2018.000000,0.000000,63.000000,0.015516,0.000000,1.000000,0.000000,...,716.000000,4111.000000,606.000000,188.000000,5.000000,33.000000,446.000000,746.000000,172.000000,293.000000
max,5.604595e+10,1.000000,37452.000000,16043.000000,1.000000,19496.000000,1.000000,1.000000,1.000000,1.000000,...,17271.000000,28983.000000,16804.000000,10485.000000,3491.000000,9009.000000,8839.000000,15420.000000,6176.000000,2152.000000

# Question 1

In [ ]:
county = pd.DataFrame(data["County"].value_counts())

In [ ]:
county.count()

County    1837
dtype: int64

In [ ]:
data.groupby("County")["Urban"].value_counts()

County     Urban
0          0        7
Abbeville  0        5
           1        1
Acadia     0        6
           1        6
                   ..
Zapata     1        2
           0        1
Zavala     0        3
           1        1
Ziebach    0        1
Name: Urban, Length: 3187, dtype: int64

In [ ]:
states = pd.DataFrame(data["State"].value_counts())

In [ ]:
states.count()

State    51
dtype: int64

In [ ]:
data[data["County"] == "0"]

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
1265,2105000300,Alaska,0,0,2055,872,0,0,0.000000,1,...,275,1006,8,11,1,814,215,75,239,168
1326,2195000200,Alaska,0,0,3815,1599,0,43,0.011271,0,...,438,2711,15,100,7,614,368,130,157,128
1327,2198000100,Alaska,0,0,1685,729,0,37,0.021958,1,...,181,1217,5,6,7,351,99,29,159,203
1328,2198000200,Alaska,0,0,2327,908,0,13,0.005587,0,...,227,1358,6,13,3,645,302,70,125,170
1329,2198000300,Alaska,0,0,87,48,0,0,0.000000,1,...,18,79,0,0,1,1,6,2,7,0
1330,2198940100,Alaska,0,0,1460,509,0,0,0.000000,0,...,133,145,6,2,10,1210,87,26,70,177
1340,2275000300,Alaska,0,0,2369,1053,0,19,0.008020,1,...,374,1719,4,33,1,384,228,37,136,171

In [ ]:
pd.DataFrame(data["State"].value_counts())

                      State
California             8044
Texas                  5258
New York               4907
Florida                4214
Pennsylvania           3218
Illinois               3121
Ohio                   2949
Michigan               2774
North Carolina         2192
New Jersey             2007
Georgia                1965
Virginia               1900
Arizona                1526
Indiana                1508
Tennessee              1497
Massachusetts          1476
Washington             1455
Maryland               1399
Wisconsin              1395
Missouri               1393
Minnesota              1336
Colorado               1249
Alabama                1179
Louisiana              1143
Kentucky               1115
South Carolina         1103
Oklahoma               1046
Connecticut             832
Oregon                  830
Iowa                    825
Kansas                  770
Nevada                  687
Arkansas                686
Mississippi             662
Utah                    588
Nebraska                532
New Mexico              499
West Virginia           484
Maine                   355
Hawaii                  332
Idaho                   298
New Hampshire           295
Montana                 271
Rhode Island            242
South Dakota            222
Delaware                218
North Dakota            205
Vermont                 184
District of Columbia    179
Alaska                  167
Wyoming                 132

In [ ]:
data[data["State"] == "District of Columbia" ]

13901    0
13902    0
13903    0
13904    0
13905    0
        ..
14075    0
14076    0
14077    0
14078    0
14079    0
Name: LILATracts_1And10, Length: 179, dtype: int64

## Question 1.2

In [ ]:
data["LILATracts_1And10"]

9245

# Question 2

In [ ]:
data["Urban"].value_counts()

1    55172
0    17692
Name: Urban, dtype: int64

75 % of the tracts are urban

In [ ]:
55172 / (55172 + 17692)

0.757191480017567

In [ ]:
data.groupby("Urban")["LILATracts_1And10"].value_counts()

Urban  LILATracts_1And10
0      0                    16352
       1                     1340
1      0                    47267
       1                     7905
Name: LILATracts_1And10, dtype: int64

### Urban
Out of the 75% urban tracts, 14% are food deserts

In [ ]:
(7905/(47267+7905))*100

14.327919959399695

### Rural
Out of the 25% Rural tracts, 7% are food deserts

In [ ]:
(1340/(1340+16352))*100

7.57404476599593

In [ ]:
data.nunique()

CensusTract      72864
State               51
County            1837
Urban                2
POP2010           9123
                 ...
TractAIAN          972
TractOMultir      2979
TractHispanic     5256
TractHUNV         1601
TractSNAP         1200
Length: 147, dtype: int64

CensusTract      72864
State               51
County            1837

In [ ]:
data[data["State"] == "Alaska"]

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
1179,2013000100,Alaska,Aleutians East,0,3141,553,0,1726,0.549507,1,...,155,660,219,1130,19,876,237,385,124,84
1180,2016000100,Alaska,Aleutians West,0,1185,285,0,444,0.374684,1,...,75,289,32,178,7,589,90,60,88,31
1181,2016000200,Alaska,Aleutians West,0,4376,927,0,2099,0.479662,0,...,118,1715,300,1428,96,268,569,666,88,47
1182,2020000101,Alaska,Anchorage,1,5736,1946,0,139,0.024233,0,...,300,4951,57,73,4,295,356,209,21,65
1183,2020000102,Alaska,Anchorage,0,5259,2010,0,16,0.003042,0,...,479,4391,48,121,12,286,401,201,73,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1341,2282000100,Alaska,Yakutat,0,662,270,0,18,0.027190,0,...,64,281,2,27,12,237,103,17,26,26
1342,2290000100,Alaska,Yukon-Koyukuk,0,1311,558,0,2,0.001526,1,...,117,185,3,2,3,1076,42,13,340,222
1343,2290000200,Alaska,Yukon-Koyukuk,0,1461,595,0,28,0.019165,1,...,172,640,5,4,0,713,99,27,130,134
1344,2290000300,Alaska,Yukon-Koyukuk,0,1758,658,0,0,0.000000,1,...,183,198,2,6,0,1495,57,14,330,208
1345,2290000400,Alaska,Yukon-Koyukuk,0,1058,406,0,1,0.000945,1,...,97,220,0,2,3,708,125,12,216,101

In [ ]:
data.describe()

,CensusTract,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
count,7.286400e+04,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,...,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000,72864.000000
mean,2.783045e+10,0.757191,4237.285052,1601.837560,0.007082,109.619606,0.026961,0.126880,0.282115,0.111235,...,552.645806,3068.089386,534.273702,201.392347,7.411246,40.242754,385.875618,692.764520,145.356239,207.022206
std,1.581256e+10,0.428783,1972.520112,732.106217,0.083855,442.922669,0.095494,0.332841,0.450032,0.314425,...,352.988078,1804.353298,887.806852,435.085612,45.084789,181.024758,528.776237,1117.876349,230.201932,187.188807
min,1.001020e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.212708e+10,1.000000,2883.750000,1102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,318.000000,1832.000000,42.000000,17.000000,0.000000,7.000000,83.000000,87.000000,37.000000,69.000000
50%,2.712979e+10,1.000000,4002.000000,1521.000000,0.000000,7.000000,0.001779,0.000000,0.000000,0.000000,...,495.000000,2903.000000,158.000000,57.000000,1.000000,15.000000,184.000000,240.000000,84.000000,158.000000
75%,4.103900e+10,1.000000,5323.000000,2018.000000,0.000000,63.000000,0.015516,0.000000,1.000000,0.000000,...,716.000000,4111.000000,606.000000,188.000000,5.000000,33.000000,446.000000,746.000000,172.000000,293.000000
max,5.604595e+10,1.000000,37452.000000,16043.000000,1.000000,19496.000000,1.000000,1.000000,1.000000,1.000000,...,17271.000000,28983.000000,16804.000000,10485.000000,3491.000000,9009.000000,8839.000000,15420.000000,6176.000000,2152.000000

# Question 3

In [ ]:
data.groupby("GroupQuartersFlag")["LILATracts_1And10"].value_counts()

GroupQuartersFlag  LILATracts_1And10
0                  0                    63215
                   1                     9133
1                  0                      404
                   1                      112
Name: LILATracts_1And10, dtype: int64

In [ ]:
# group quarters with food deserts

In [ ]:
112/(404 + 112)

0.21705426356589147

In [ ]:
# # group quarters without food deserts

In [ ]:
9133/(63215 +9133)

0.12623707635318185

In [ ]:
# percentage of group quarters

In [ ]:
data["GroupQuartersFlag"].value_counts()

0    72348
1      516
Name: GroupQuartersFlag, dtype: int64

In [ ]:
(516/(516 + 72348) ) * 100

0.7081686429512516

The number of food deserts are high for urban group quarters tract

In [ ]:
data[(data["GroupQuartersFlag"] ==1) & (data["LILATracts_1And10"]==1)]["Urban"].value_counts()

1    107
0      5
Name: Urban, dtype: int64

In [ ]:
47038 + 16289

63327

In [ ]:
# Ratio of group quarters in urban and rurla areas

In [ ]:
data.groupby("Urban")["GroupQuartersFlag"].value_counts()

Urban  GroupQuartersFlag
0      0                    17619
       1                       73
1      0                    54729
       1                      443
Name: GroupQuartersFlag, dtype: int64

#### Rural
Percentage of rural people in group quarters

In [ ]:
73/(17619 +73)

0.0041261587158037535

#### Urban
Percentage of urban people in group quarters

In [ ]:
443/(443 + 54729)

0.008029435220764155

### Poverty rate in group quarters

In [ ]:
# Poverty rate in group quarters
# poverty rate is high in gq

In [ ]:
data.groupby("GroupQuartersFlag")["PovertyRate"].mean()

GroupQuartersFlag
0    16.473564
1    29.659302
Name: PovertyRate, dtype: float64

In [ ]:
data.groupby("GroupQuartersFlag")["LowIncomeTracts"].value_counts()

GroupQuartersFlag  LowIncomeTracts
0                  0                  41750
                   1                  30598
1                  1                    272
                   0                    244
Name: LowIncomeTracts, dtype: int64

In [ ]:
# Ratio of low income in group quarters

In [ ]:
272/(272 + 244)

0.5271317829457365

In [ ]:
# Ratio of low income in non- group quarters

In [ ]:
30598/ (30598 + 41750)

0.42292806988444737

# Question 4

In [ ]:
# Low access is not correlated with low income

In [ ]:
data[data["LA1and10"] == 0]["LowIncomeTracts"].value_counts()

0    23712
1    21625
Name: LowIncomeTracts, dtype: int64

In [ ]:
# Low access people are rich, rich people wants to stay outside. we need to multivariate with urban, ethnicity.

In [ ]:
data[data["LA1and10"] == 1]["LowIncomeTracts"].value_counts()

0    18282
1     9245
Name: LowIncomeTracts, dtype: int64

In [ ]:
data.groupby("LA1and10")["PovertyRate"].mean()

LA1and10
0    17.976803
1    14.244898
Name: PovertyRate, dtype: float64

In [ ]:
data.groupby("LA1and20")["PovertyRate"].mean()

LA1and20
0    17.849840
1    14.066872
Name: PovertyRate, dtype: float64

In [ ]:
data[data["LA1and10"] == 1]["Urban"].value_counts()

1    24322
0     3205
Name: Urban, dtype: int64

In [ ]:
data[data["LowIncomeTracts"] == 0]["Urban"].value_counts()

1    30228
0    11766
Name: Urban, dtype: int64

In [ ]:
# rich and urban

In [ ]:
30228/ (11766 + 30228)

0.7198171167309616

In [ ]:
# rich and rural

In [ ]:
1 - 0.7198171167309616

0.2801828832690384

In [ ]:
# poor and urban

In [ ]:
24944/(5926 + 24944)

0.8080336896663427

## Question 4.1

In [ ]:
## Poverty rate is high in food deserted areas

In [ ]:
data.groupby("LILATracts_1And10")["PovertyRate"].mean()

LILATracts_1And10
0    15.125722
1    26.484619
Name: PovertyRate, dtype: float64

In [ ]:
data.groupby("LILATracts_1And20")["PovertyRate"].mean()

LILATracts_1And20
0    15.248630
1    27.100259
Name: PovertyRate, dtype: float64

In [ ]:
data.groupby("LowIncomeTracts")["PovertyRate"].mean()

LowIncomeTracts
0     8.634436
1    27.357924
Name: PovertyRate, dtype: float64

In [ ]:
## Poverty rate is high in non low access areas

In [ ]:
data.groupby("LA1and10")["PovertyRate"].mean()

LA1and10
0    17.976803
1    14.244898
Name: PovertyRate, dtype: float64

In [ ]:
data.groupby("LA1and20")["PovertyRate"].mean()

LA1and20
0    17.849840
1    14.066872
Name: PovertyRate, dtype: float64

In [ ]:
#data.groupby("State").sort_values(by="PovertyRate",ascending=False)

In [ ]:
data['PovertyRate'].quantile(0.75)

22.7

In [ ]:
states_pov = pd.DataFrame(data.groupby("State").mean("PovertyRate")["PovertyRate"])

In [ ]:
states_pov.head()

            PovertyRate
State
Alabama       21.222053
Alaska        11.231737
Arizona       18.488663
Arkansas      20.350146
California    16.523695

### Normalising the povertyrate count
This is done before picking the high poverty states to have it normalised based on the overall data

In [ ]:
scaler = MinMaxScaler()

states_pov_nm = pd.DataFrame(scaler.fit_transform(states_pov), columns=["PovertyRate"], index=states_pov.index)

In [ ]:
states_pov_nm

                      PovertyRate
State
Alabama                  0.773809
Alaska                   0.112711
Arizona                  0.592930
Arkansas                 0.716112
California               0.462901
Colorado                 0.263934
Connecticut              0.145297
Delaware                 0.207535
District of Columbia     0.674124
Florida                  0.503553
Georgia                  0.726746
Hawaii                   0.080953
Idaho                    0.458046
Illinois                 0.447909
Indiana                  0.554305
Iowa                     0.249215
Kansas                   0.353504
Kentucky                 0.700390
Louisiana                0.801888
Maine                    0.340430
Maryland                 0.095953
Massachusetts            0.214158
Michigan                 0.606417
Minnesota                0.192734
Mississippi              1.000000
Missouri                 0.518495
Montana                  0.443776
Nebraska                 0.265249
Nevada                   0.422996
New Hampshire            0.000000
New Jersey               0.129966
New Mexico               0.743427
New York                 0.420159
North Carolina           0.576896
North Dakota             0.169167
Ohio                     0.616299
Oklahoma                 0.577896
Oregon                   0.481432
Pennsylvania             0.341488
Rhode Island             0.357834
South Carolina           0.663904
South Dakota             0.355663
Tennessee                0.631038
Texas                    0.595956
Utah                     0.260999
Vermont                  0.188294
Virginia                 0.190344
Washington               0.288830
West Virginia            0.666417
Wisconsin                0.354553
Wyoming                  0.182199

In [ ]:
states_high_pov =pd.DataFrame(states_pov_nm[ (states_pov_nm["PovertyRate"] > states_pov_nm['PovertyRate'].quantile(0.85))])

In [ ]:
states_high_pov

                      PovertyRate
State
Alabama                  0.773809
Arkansas                 0.716112
District of Columbia     0.674124
Georgia                  0.726746
Kentucky                 0.700390
Louisiana                0.801888
Mississippi              1.000000
New Mexico               0.743427